@page "/"

@inherits LayoutComponentBase

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="display-4 mb-4">¡Bienvenido a InnovateHub!</h2>
            <p class="lead">
                En InnovateHub, no solo te sumergirás en la innovación, la tecnología y el aprendizaje,
                sino que también serás parte activa de su evolución. Únete a nosotros mientras creamos un
                futuro donde las ideas avanzadas dan forma a un mundo mejor.
                Juntos, estamos impulsando la próxima era de la innovación.
            </p>
            <p class="lead mt-4">
                ¡Descubre nuestro catálogo de cursos y comienza tu viaje hacia el conocimiento y la innovación!
            </p>
            <p class="lead mt-4">
                Creado por <span class="text-primary">Maria Alejandra Correa</span> y
                <span class="text-danger">Sara Moncada Arango</span>, estudiantes de Ingeniería en Sistemas.
            </p>
        </div>
    </div>
</div>