@page "/inscripciones/edit/{Id:int}"
@using InnovateHubITM.Shared.Entities
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Inscripción</h3>

@if (inscripcion is null)
{
    <div class="align-items-center">
        <img src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700" />
    </div>
}
else
{
    <InscripcionForm @ref="inscripcionForm" Inscripcion="inscripcion" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Inscripcion? inscripcion;
    private InscripcionForm? inscripcionForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Inscripcion>($"api/inscripciones/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("inscripciones");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            inscripcion = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/inscripciones", inscripcion);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            inscripcionForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("inscripciones");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("inscripciones");
    }
}