@page "/profesores"
@using InnovateHubITM.Shared.Entities
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Profesores</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/profesores/create">Nuevo Profesor</a>
</div>

<GenericList MyList="Profesores">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var profesor in Profesores!)
                {
                    <tr>
                        <td>@profesor.Nombre</td>
                        <td>@profesor.Apellidos</td>
                        <td>@profesor.Correo</td>
                        <td>
                            <a href="/profesores/edit/@profesor.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(profesor))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Profesor>? Profesores { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<Profesor>>("/api/Profesores");
        Profesores = responseHttp.Response!;
    }

    private async Task Delete(Profesor profesor)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Estás seguro de que quieres borrar el profesor?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/Profesores/{profesor.Id}");

        if (responseHttp.Error)
        {
            var errorMessage = await responseHttp.GetErrorMessageAsync();
            await swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
        }
        else
        {
            await Load();
        }
    }

    private async Task Load()
    {
        var responseHttp = await repository.Get<List<Profesor>>("/api/Profesores");
        Profesores = responseHttp.Response!;
    }
}
