@page "/estudiantes/edit/{Id:int}"
@using InnovateHubITM.Shared.Entities;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar estudiantes</h3>

@if (estudiante is null)
{
    <div class="align-items-center">
        <img src=" https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700 " />
    </div>
}
else
{
    <EstudianteForm @ref="estudianteForm" Estudiante="estudiante" OnSubmit="Edit" ReturnAction="Return" />
}
@code {
    private Estudiante? estudiante;
    private EstudianteForm? estudianteForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Estudiante>($"api/estudiantes/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("estudiantes");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            estudiante = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/estudiantes", estudiante);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            estudianteForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("estudiantes");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("estudiantes");
    }
}